* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #F6F4EC;
}


.header .titlepart {
    background: #B36050;
    height: 47px;
    display: flex;
    justify-content: center;
    width: 1440px;

}

.header .titlepart .title {

    width: 288px;

    padding: 10px 0;
    font-size: 17px;
    color: #F1D3B9;
    font-weight: 100;
}

.header .top {
    margin: 5px 0;
    height: 61px;
    background-color: #F6F4EC;
    width: 1440px;
    display: flex;
    align-items: center;
}

.header .top .menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 22px;

}

.top .menu .menu-link {
    width: 42px;
    height: 29px;
    font-size: 18px;
}



a {
    text-decoration: none;
    color: #B4604D;
}

li {
    list-style: none;
}

.header .top .logo {
    width: 120px;
    height: 56px;
    margin: 5px 275px;

}

.header .top .block {
    margin-left: 200px;
}

.header .account {

    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 170px;
    font-size: 18px;


}

.header .account .number {
    margin-left: -10px;
}

/* HERO */

.hero {
    width: 1440px;
    height: 435px;
}

.hero .banner .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -108px;

}

.banner .menu-button .click {
    width: 128px;
    height: 48px;
    background-color: #B45F4D;
    display: flex;
    padding: 10px 20px;

}

.banner .menu-button .click .button {
    color: #fff;
    width: 88px;
    height: 29px;
    font-size: 17px;
    line-height: 28px;

}

/* bottom */
.bottom .container {
    width: 1440px;
    height: 304px;
    margin: 0;
    background-color: #A9AE8D;
}

.bottom .container .proporsal {
    padding: 69px 914px 70px 69px;
    color: #F6F4EC;

}

.bottom .container .proporsal .title {
    width: 242px;
    height: 29px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    text-transform: uppercase;
}

.bottom .container .proporsal .meet {
    width: 456px;
    height: 64px;
    font-weight: 400;
    font-size: 33px;
    line-height: 64px;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 30px;
}
.bottom .container .proporsal .shopping{
    width: 77px;
    height: 28px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 27.2px;
    font-style: normal;
}