* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #F6F4EC;

}
body .container{
    width: 1440px;
    height: 835px;
    
    
}


.header .titlepart {
    background: #B36050;
    height: 47px;
    display: flex;
    justify-content: center;
    width: 1440px;

}

.header .titlepart .title {

    width: 288px;

    padding: 10px 0;
    font-size: 17px;
    color: #F1D3B9;
    font-weight: 100;
}

.header .top {
    margin: 5px 0;
    height: 61px;
    background-color: #F6F4EC;
    width: 1440px;
    display: flex;
    align-items: center;
}

.header .top .menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 22px;

}

.top .menu .menu-link {
    width: 42px;
    height: 29px;
    font-size: 18px;
}



a {
    text-decoration: none;
    color: #B4604D;
}

li {
    list-style: none;
}

.header .top .logo {
    width: 120px;
    height: 56px;
    margin: 5px 275px;

}

.header .top .block {
    margin-left: 200px;
}

.header .account {

    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 170px;
    font-size: 18px;


}

.header .account .number {
    margin-left: -10px;
}

/* HERO */

.hero {
    width: 1440px;
    height: 435px;
}

.hero .banner .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -108px;

}

.banner .menu-button .click {
    width: 128px;
    height: 48px;
    background-color: #B45F4D;
    display: flex;
    padding: 10px 20px;

}

.banner .menu-button .click .button {
    color: #fff;
    width: 88px;
    height: 29px;
    font-size: 17px;
    line-height: 28px;

}

/* bottom */
.bottom .container {
    width: 1440px;
    height: 304px;
    margin: 0;
    background-color: #A9AE8D;
}

.bottom .container .proporsal {
    padding: 69px 914px 70px 69px;
    color: #F6F4EC;

}

.bottom .container .proporsal .title {
    width: 242px;
    height: 29px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    text-transform: uppercase;
}

.bottom .container .proporsal .meet {
    width: 456px;
    height: 64px;
    font-weight: 400;
    font-size: 33px;
    line-height: 64px;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 30px;
}
.bottom .container .proporsal .shopping{
    width: 77px;
    height: 28px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 27.2px;
    font-style: normal;
}

/* adverts */
.advert{
    width: 1400px;
    height: 755.5px;
}

.adv-title{
    width: 1440px;
    height: 40px;
    font-weight: 400;
    font-size: 23px;
    line-height: 39.2px;
    color: #B45F4D;
    margin: 39px 0 44px; 
    text-transform: capitalize;
    text-align: center;
}

.adds{
    display: flex;
    justify-content: space-evenly;
}

.adds .advert1 .photo{
    margin-bottom: 10px;
    margin-left: 70px;
}

.adds .advert1 .price{
    width: 198px;
    height: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #B45F4D;
    margin-left:70px ;
}

/* 2 */
.adds .advert2 .photo{
    margin-bottom: 10px;
    margin-left: 70px;
}

.adds .advert2 .price{
    width: 198px;
    height: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #B45F4D;
    margin-left:70px ;
}

/* 3 */
.adds .advert3 .photo{
    margin-bottom: 10px;
    margin-left: 70px;
}

.container .advert3 .price{
    width: 198px;
    height: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #B45F4D;
    margin-left:70px ;
}
/* Banner */
.banner{
    position: relative;
}
.banner .bannerbg{
    width: 1219px;
    max-width: 100%;
    height: auto;
    margin: 24px 110px 50px;
    
}
.banner-text{
    position: absolute;
    top: 0%;
    color: #F6F4EC;
    padding: 10px;
    background-color: #B45F4D;
    width: 1219px;
    margin-top:380px ;
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.banner-text .text{
    width: 564px;
    height: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28.8px;
    margin: 10px;
}

.banner-text .shop{
    width: 83px;
    height: 29px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    margin-right: 30px;
    margin-top: 10px;
}
/* comment */

.comment .container{
    width: 1440px;
    height: 1069px;
    background-color:  #F1D3B9;
    position: relative;
  
}
.comment .container .female{
    width: 632px;
    height: 947px;
    margin: 61px 625px 61px 183px;
    max-width: 100%;
    height: auto;
}
.comment .container .description{
    position: absolute;
    width: 518px;
    height: 582px;
    color: #B45F4D;
    text-align: center;
    background-color: #f8f8f8;
    top: 285px;
    right: 157px;
}
.comment .container .description .head{
    width: 130px;
    height: 58px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin: 50px 194px 22px;
}
.comment .container .description .opinion{
    width: 416px;
    height: 335px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    font-style: normal;
    margin: 0px 51px 41px;
}
.comment .container .description .info{
    margin: 0 388px 50px 50px;
    width: 80px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #B45F4D;
}
.comment .container .curly-female{
    position: absolute;
    top: 535px;
    left: 100px;
    bottom: 25px;
}